* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
 align-items: center;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: rgb(13, 17, 226);
    color: #fff;
   }
   .nav-links a {
    color: rgb(203, 238, 2);
   }
  
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 23px;
   }
   .menu li:hover {
    background-color: #2016ad;
    border-radius: 25px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
  
  